<h1>О компании</h1>

<h3>
  Компания Eddycars занимается продажей автомобилей из США уже 5 лет и на нашем счету более 500 счастливых клиентов.
  Мы неоднократно проходили путь от покупки авто на аукционе до регистрации авто в Украине и передачи автомобиля клиенту, поэтому знаем, где можно сэкономить Ваши деньги, как обезопасить от покупки авто в ненадлежащем состоянии, оптимизировать расходы на ремонт, качественно восстановить авто и найти запчасти по выгодным ценам.

</h3>


<h3>Eddycars предлагает:</h3>

<ul>
  <li>бесплатный просчет любого лота и консультацию по подбору авто</li>

  <li>работу по договору и полную юридическую безопасность</li>

  <li>возможность заключения договора в дистанционном режиме или в нашем офисе</li>

  <li>материальную ответственность за Ваш груз</li>

  <li>прозрачность расчетов и фиксацию всей расходной части до начала торгов за лот</li>

  <li>отсутствие скрытых платежей</li>

  <li>персонального менеджера, который находится на связи 24/7 и готов ответить на любые вопросы</li>

  <li>подбор авто опытными экспертами</li>

  <li>страхование груза на всех этапах, быстрое возмещение нанесенного по вине третьих лиц ущерба</li>

  <li>аукционный сбор по линейке А</li>

  <li>профессиональных брокеров и экспедиторов</li>

  <li>быстрое таможенное оформление</li>

  <li>фотоотчеты на всех этапах</li>

  <li>выгодные тарифы на доставку</li>

  <li>поэтапную оплату</li>

  <li>скидки постоянным клиентам</li>

  <li>доставку в оперативные сроки</li>

  <li>полный спектр услуг «под ключ» с возможностью любых дополнительных услуг</li>
</ul>




<h3>Наш сервис, это:</h3>

<ul>
  <li>сотрудничество с портами США в Нью-Джерси, Саванне, Калифорнии, Техасе</li>

  <li>сотрудничество с мировыми морскими линиями ZIM, Hapag-Lloyd, Maersk, MSC</li>

  <li>дилерские лицензии, действующие на всех торговых площадках, в том числе закрытых аукционах</li>

  <li>10+ ресурсов для проверки лотов и исключения всевозможных рисков</li>

  <li>бесплатное хранение авто на наших складах в США</li>

  <li>возможность постоянного отслеживания груза</li>

  <li>оплата всех платежей напрямую по реквизитам американских аукционов, транспортных компаний и таможенной службы Украины</li>

  <li>адресная доставка авто в любой город Украины</li>

  <li>возможность заказа услуги «под ключ» с сопровождением ремонта, подбором запчастей и постановкой автомобиля на учет</li>

  <li>наличие партнерских станций технического обслуживания по всем видам работ и партнерских станций сертификации авто</li>

  <li>отдел по подбору запчастей</li>

  <li>огромный опыт качественного восстановления автомобилей, помощь в оптимизации расходной части при ремонте</li>
</ul>


