:host {
  color: #FFFFFF;
  width: 100%;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  * {
    display: flex !important;
    flex-direction: column;
    box-sizing: border-box;
  }
  > .cont-image {
    width: 100%;
    overflow: hidden;
    display: flex !important;
    position: relative;
    height: auto;
    > img {
      width: 100%;
      height: auto;
      // position: absolute;
      margin-top: -20%;
      display: flex !important;
    }
  }
  > .cont-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2vh 3vh;
    max-width: 800px;
    // padding: 60px 100px;
    height: auto;
    flex-direction: column;
    h1 {
      font-weight: 600;
      text-align: left;
    }
    h3 {
      font-weight: 300;
    }
    > .text-block {
      > .p {
        margin-bottom: 1vh;
        padding: 1vh;
        width: 100%;
        // background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
        // border-radius: 1vh;
        // border-bottom: 1px solid white;
        flex-direction: row;
        > img {
          width: 2vh;
          height: 2vh;
          filter: invert(100);
          margin-right: 1vh;
        }
      }
    }
  }
  > .cont-big-images {
    width: 100%;
    padding: 5vh 10vh;
    flex-direction: row;
    justify-content: space-between;
    > .big {
      width: calc((100% / 4) - 3vh);
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 1vh;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      &:hover {
        transition: background-color 0.1s ease-in-out;
        background-color: rgba(255, 255, 255, 0.2);
      }
      > .big-img {

      }
      > .big-text {
        padding: 2vh;
      }
    }
  }
  > .cont-tiles {
    width: 100%;
    padding: 3vh 10vh;
    // max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    > .tiles-title {
      padding: 4vh 0;
      font-size: 4vh;
      font-weight: 600;
    }
    > .tiles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      > .tile {
        border-radius: 1vh;
        padding: 2vh 3vh;
        width: calc((100% / 3) - 1vh);
        background-color: rgba(255, 255, 255, 0.2);
        justify-content: flex-start;
        // align-items: center;
        margin-bottom: 2vh;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        &:hover {
          transition: background-color 0.1s ease-in-out;
          background-color: rgba(255, 255, 255, 0.4);
        }
        > .title {
          font-weight: 500;
          font-size: 2.5vh;
          margin-bottom: 1vh;
          text-transform: uppercase;
        }
        > .text {

        }
      }
    }
  }
}
@media (orientation: portrait) {
  :host {
    .tile, .big {
      width: 100% !important;
    }
    .cont-big-images {
      flex-direction: column !important;

    }
    .big {
      margin-bottom: 1vh !important;
    }
  }
}
