<div class="cont-image">
  <img src="/assets/img/parallax-6.jpg" />
</div>
<div class="cont-text">
  <h1>О компании</h1>
  <h3>
    Компания Eddycars занимается продажей автомобилей из США уже 5 лет и на нашем счету более 500 счастливых клиентов.
    Мы неоднократно проходили путь от покупки авто на аукционе до регистрации авто в Украине и передачи автомобиля
    клиенту, поэтому знаем, где можно сэкономить Ваши деньги, как обезопасить от покупки авто в ненадлежащем состоянии,
    оптимизировать расходы на ремонт, качественно восстановить авто и найти запчасти по выгодным ценам.
  </h3>
</div>

<div class="cont-tiles">
  <div class="tiles-title">Eddycars предлагает:</div>
  <div class="tiles">
    <div class="tile">
      <div class="title">просчет</div>
      <div class="text">бесплатный просчет любого лота и консультацию по подбору авто</div>
    </div>
    <div class="tile">
      <div class="title">безопасность</div>
      <div class="text">работу по договору и полную юридическую безопасность</div>
    </div>
    <div class="tile">
      <div class="title">дистанционность</div>
      <div class="text">возможность заключения договора в дистанционном режиме или в нашем офисе</div>
    </div>
    <div class="tile">
      <div class="title">ответственность</div>
      <div class="text">материальную ответственность за Ваш груз</div>
    </div>
    <div class="tile">
      <div class="title">прозрачность</div>
      <div class="text">прозрачность расчетов и фиксацию всей расходной части до начала торгов за лот</div>
    </div>
    <div class="tile">
      <div class="title">понятность</div>
      <div class="text">отсутствие скрытых платежей</div>
    </div>
    <div class="tile">
      <div class="title">Поддержка</div>
      <div class="text">персонального менеджера, который находится на связи 24/7 и готов ответить на любые вопросы</div>
    </div>
    <div class="tile">
      <div class="title">опыт</div>
      <div class="text">подбор авто опытными экспертами</div>
    </div>
    <div class="tile">
      <div class="title">страхование</div>
      <div class="text">страхование груза на всех этапах, быстрое возмещение нанесенного по вине третьих лиц ущерба
      </div>
    </div>
    <div class="tile">
      <div class="title">Качество</div>
      <div class="text">аукционный сбор по линейке А</div>
    </div>
    <div class="tile">
      <div class="title">профессионализм</div>
      <div class="text">профессиональных брокеров и экспедиторов</div>
    </div>
    <div class="tile">
      <div class="title">Скорость</div>
      <div class="text">быстрое таможенное оформление</div>
    </div>
    <div class="tile">
      <div class="title">фотоотчеты</div>
      <div class="text">фотоотчеты на всех этапах</div>
    </div>
    <div class="tile">
      <div class="title">выгода</div>
      <div class="text">выгодные тарифы на доставку</div>
    </div>
    <div class="tile">
      <div class="title">Гибкость</div>
      <div class="text">поэтапную оплату</div>
    </div>
    <div class="tile">
      <div class="title">скидки</div>
      <div class="text">скидки постоянным клиентам</div>
    </div>
    <div class="tile">
      <div class="title">Сроки</div>
      <div class="text">доставку в оперативные сроки</div>
    </div>
    <div class="tile">
      <div class="title">полный спектр</div>
      <div class="text">полный спектр услуг «под ключ» с возможностью любых дополнительных услуг</div>
    </div>
  </div>
</div>
<div class="cont-big-images">
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-2.jpg">
    </div>
    <div class="big-text">
      сотрудничество с портами США в Нью-Джерси, Саванне, Калифорнии, Техасе
    </div>
  </div>
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-3.jpg">
    </div>
    <div class="big-text">
      сотрудничество с мировыми морскими линиями ZIM, Hapag-Lloyd, Maersk, MSC
    </div>
  </div>
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-1.jpg">
    </div>
    <div class="big-text">
      бесплатное хранение авто на наших складах в США
    </div>
  </div>
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-4.jpg">
    </div>
    <div class="big-text">
      возможность постоянного отслеживания груза
    </div>
  </div>

</div>
<div class="cont-text white">
  <h1>Наш сервис, это:</h1>
  <div class="text-block">
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">дилерские лицензии, действующие на всех торговых площадках, в том числе закрытых аукционах</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">10+ ресурсов для проверки лотов и исключения всевозможных рисков</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">оплата всех платежей напрямую по реквизитам американских аукционов, транспортных компаний и таможенной службы Украины</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">адресная доставка авто в любой город Украины</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">возможность заказа услуги «под ключ» с сопровождением ремонта, подбором запчастей и постановкой автомобиля на учет</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">наличие партнерских станций технического обслуживания по всем видам работ и партнерских станций сертификации авто</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">отдел по подбору запчастей</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">огромный опыт качественного восстановления автомобилей, помощь в оптимизации расходной части при ремонте</div>
  </div>
</div>
