<div class="cont-image">
  <img src="/assets/img/parallax-6.jpg" />
</div>
<div class="cont-text">
  <h1>Про компанію</h1>
  <h3>
    Компанія Eddycars займається продажем автомобілів із США вже 5 років і на нашому рахунку понад 500 щасливих
    клієнтів. Ми неодноразово проходили шлях від купівлі авто на аукціоні до реєстрації авто в Україні та передачі
    автомобіля клієнту, тож знаємо, де можна заощадити Ваші гроші, як убезпечити від купівлі авто в неналежному стані,
    оптимізувати витрати на ремонт, якісно відновити авто та знайти запчастини за вигідними цінами.
  </h3>
</div>

<div class="cont-tiles">
  <div class="tiles-title">Eddycars пропонує:</div>
  <div class="tiles">
    <div class="tile">
      <div class="title">розрахунок</div>
      <div class="text">безкоштовний розрахунок будь-якого лота і консультацію з підбору авто</div>
    </div>
    <div class="tile">
      <div class="title">безпека</div>
      <div class="text">роботу за договором і повну юридичну безпеку</div>
    </div>
    <div class="tile">
      <div class="title">дистанційність</div>
      <div class="text">можливість укладення договору в дистанційному режимі або в нашому офісі </div>
    </div>
    <div class="tile">
      <div class="title">відповідальність</div>
      <div class="text">матеріальну відповідальність за Ваш вантаж</div>
    </div>
    <div class="tile">
      <div class="title">прозорість</div>
      <div class="text">прозорість розрахунків і фіксацію всієї видаткової частини до початку торгів за лот</div>
    </div>
    <div class="tile">
      <div class="title">зрозумілість</div>
      <div class="text">відсутність прихованих платежів</div>
    </div>
    <div class="tile">
      <div class="title">підтримка</div>
      <div class="text">персонального менеджера, який перебуває на зв'язку 24/7 і готовий відповісти на будь-які
        запитання</div>
    </div>
    <div class="tile">
      <div class="title">досвід</div>
      <div class="text">підбір авто досвідченими експертами</div>
    </div>
    <div class="tile">
      <div class="title">страхування</div>
      <div class="text">страхування вантажу на всіх етапах, швидке відшкодування завданих з вини третіх осіб збитків
      </div>
    </div>
    <div class="tile">
      <div class="title">якість</div>
      <div class="text">аукціонний збір за лінійкою А</div>
    </div>
    <div class="tile">
      <div class="title">професіоналізм</div>
      <div class="text">професійних брокерів та експедиторів</div>
    </div>
    <div class="tile">
      <div class="title">швидкість</div>
      <div class="text">швидке митне оформлення</div>
    </div>
    <div class="tile">
      <div class="title">фотозвіти</div>
      <div class="text">фотозвіти на всіх етапах</div>
    </div>
    <div class="tile">
      <div class="title">вигода</div>
      <div class="text">вигідні тарифи на доставку</div>
    </div>
    <div class="tile">
      <div class="title">Гнучкість</div>
      <div class="text">поетапну оплату</div>
    </div>
    <div class="tile">
      <div class="title">знижки</div>
      <div class="text">знижки постійним клієнтам</div>
    </div>
    <div class="tile">
      <div class="title">терміни</div>
      <div class="text">доставку в найоперативніші терміни</div>
    </div>
    <div class="tile">
      <div class="title">повний спектр</div>
      <div class="text">повний спектр послуг "під ключ" з можливістю будь-яких додаткових послуг</div>
    </div>
  </div>
</div>
<div class="cont-big-images">
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-2.jpg">
    </div>
    <div class="big-text">
      співпраця з портами США в Нью-Джерсі, Савані, Каліфорнії, Техасі
    </div>
  </div>
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-3.jpg">
    </div>
    <div class="big-text">
      співпраця зі світовими морськими лініями ZIM, Hapag-Lloyd, Maersk, MSC
    </div>
  </div>
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-1.jpg">
    </div>
    <div class="big-text">
      безкоштовне зберігання авто на наших складах у США
    </div>
  </div>
  <div class="big">
    <div class="big-img">
      <img src="/assets/img/big-4.jpg">
    </div>
    <div class="big-text">
      можливість постійного відстежування вантажу
    </div>
  </div>
</div>
<div class="cont-text white">
  <h1>Наш сервіс, це:</h1>
  <div class="text-block">
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">дилерські ліцензії, що діють на всіх торговельних
      майданчиках, у тому числі закритих аукціонах</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">10+ ресурсів для перевірки лотів і виключення всіляких
      ризиків</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">оплата всіх платежів безпосередньо за реквізитами
      американських аукціонів, транспортних компаній і митної служби України</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">адресна доставка авто в будь-яке місто України</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">можливість замовлення послуги "під ключ" із супроводом
      ремонту, підбором запчастин і постановкою автомобіля на облік</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">наявність партнерських станцій технічного
      обслуговування за всіма видами робіт і партнерських станцій сертифікації авто</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">відділ з підбору запчастин</div>
    <div class="p"><img src="/assets/img/task_alt_black_24dp.svg">величезний досвід якісного відновлення автомобілів,
      допомога в -оптимізації витратної частини під час ремонту</div>
  </div>
</div>