<div class="screen screen-4">
  <div class="screen-title">
    Калькулятор доставки
  </div>
  <!-- <div class="cont-maps"> -->
    <!-- <div echarts id="main" class="demo-chart"></div> -->
    <!-- <div class="map-1">
      <img src="/assets/img/europe-1.svg"/>
    </div>
    <div class="map-2">
      <img src="/assets/img/us-map-silhouette-vector_f.svg"/>
    </div>
    <div class="map-3">
      <img src="/assets/img/line-1.svg"/>
    </div>
    <div class="state" *ngIf="state === 'texas'" [style.top]="getLoc('texas').top" [style.left]="getLoc('texas').left"></div> -->
  <!-- </div> -->
  <div class="cont-calc">
    <!-- <div class="cont-tabs">
      <div class="tab active">
        Калькулятор растаможки
      </div>
      <div class="tab">
        Калькулятор доставки
      </div>
    </div> -->
    <div class="cont-inputs">
      <!-- <div class="title">Калькулятор стоимости растаможки</div> -->
      <!-- <div class="sub-tabs">
        <div class="inputs-title active">
          Автомобили
        </div>
        <div class="inputs-title">
          Электромобили
        </div>
      </div> -->
      <div class="body-inputs">
        <div class="cont-left">
          <div class="inputs">
            <div class="input-label">Аукціон</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <mat-select name="volume" [(ngModel)]="auction">
                  <mat-option *ngFor="let item of auctions" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="input-label">Локація</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <!-- <mat-label>Обьем двигателя куб.дм</mat-label> -->
                <mat-select name="volume" [(ngModel)]="location" (ngModelChange)="getUnique()">
                  <mat-option *ngFor="let item of (auction === 1 ? copart : iaai)" [value]="item.location">
                    {{ item.location }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="input-label">Порт відправки</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <mat-select name="volume" [(ngModel)]="port" (ngModelChange)="getFreight(port)">
                  <mat-option *ngFor="let item of getUnique()" [value]="item.port">
                    {{ item.port }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- <div class="input-label">Порт прибытия</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <mat-select name="volume" [(ngModel)]="deliveryPort">
                  <mat-option *ngFor="let item of deliveryPorts" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->


            <!-- <button class="custom" mat-raised-button color="primary">Рассчитать</button> -->
          </div>

          <div class="cont-notice">
            *У разі, якщо авто знаходиться за межами майданчика аукціону (sublot), під час транспортування по США може
            стягуватися додаткова плата
          </div>

        </div>
        <div class="cont-split mobile">
          &nbsp;
        </div>
        <div class="cont-right" [class.show-all]="showMoreOne">
          <!-- <div class="row title">Результаты *</div> -->
          <!-- <div class="row sep">
            <div class="title">Цена лота</div>
            <div class="value total">0$</div>
          </div> -->
          <div class="row inlay">
            <div class="title">Доставка по суші</div>
            <div class="value">{{ landPrice }} $</div>
          </div>
          <div class="row inlay">
            <div class="title">Морський фрахт</div>
            <div class="value">{{ portPrice }} $</div>
          </div>
          <!-- <div class="row inlay">
            <div class="title">Страховка груза</div>
            <div class="value">? $</div>
          </div>
          <div class="row inlay">
            <div class="title">Брокер / экспедитор / услуги порта</div>
            <div class="value">500 $</div>
          </div> -->
          <div class="row sep total" [class.top-order]="showMoreOne">
            <div class="title total">Разом доставка в Україну<br><span>(у вартість доставки включено всі платежі, в тому
                числі завантаження в США)</span></div>
            <div class="cont-more mobile" (click)="showMoreOne = !showMoreOne">Бiльше</div>
            <div class="value total">{{ getSum([landPrice, portPrice]) }} $</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>