:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  * {
    box-sizing: border-box;
  }
  .cont-input {
    height: 40px;
    justify-content: flex-start;
    padding: 0 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #414141;
    align-items: center;
    display: flex;
  }
  .modal-cont {
    // width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .text {
      display: flex;
      width: calc(50% - 40px);
      flex-direction: column;
      > .title {
        font-weight: 300;
        font-size: 14px;
        text-align: left;
        opacity: 0.7;
      }
      > .value {
        text-align: left;
        > a {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 23px;
          text-align: center;
          color: #FFFFFF;
          &:hover {
            text-decoration: underline !important;
          }
        }
      }
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      margin: 20px;
      color: #FFFFFF;
    }

  }
  .cont-button {
    margin-bottom: 20px;
  }

}
h1 {
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 0;
}
@media (orientation: portrait) {
  :host {
    width: auto;
    .full {
      display: none !important;
    }
    .modal-cont {
      flex-direction: column;
      > .text {
        width: 100%;
        font-size: 2.73vh;
        line-height: 3vh;
        padding: 2.5vh;
        > .title {
          font-size: 2.73vh;
          line-height: 3vh;
        }
        > .value {
          font-size: 2.73vh;
          line-height: 3vh;
        }
      }

    }
    p {
      font-size: 1.76vh;
      line-height: 100%;
      margin: 3.52vh 0;
      width: 45.70vh;
    }
    button.mat-button {
      height: 4.91vh !important;
      width: 23.73vh;
      > .mat-button-wrapper {
        font-size: 2.02vh !important;
        font-weight: 800 !important;
        letter-spacing: 0.015em;
      }
    }
  }

  .cont-button {
    margin: 2.5vh 0 !important;
    height: 4.91vh !important;
    border-radius: 1.44vh !important;
    overflow: hidden;
  }

}
