<!-- <h1 mat-dialog-title></h1> -->
<div mat-dialog-content>
  <p class="text">(099) 559-35-39</p>
  <p class="text">(093) 231-36-73</p>
  <p class="text">info@eddycars.com.ua</p>
  <p class="text">eddycars.ua@gmail.com</p>
  <p class="text">ig: eddycars_usa</p>
  <p class="text">fb: eddycars_usa</p>
  <p class="text">tg: eddycars_usa</p>

</div>
<div mat-dialog-actions>
  <div class="cont-button">
    <button class="custom custom-4" mat-button (click)="onNoClick()" cdkFocusInitial>Закрыть</button>
  </div>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->

</div>
