<!-- <h1 mat-dialog-title></h1> -->
<div mat-dialog-content>
  <div class="modal-cont">
    <a class="text" href="tel:+380995593539"><div class="title">МТС</div><div class="value">(099) 559-35-39</div></a>
    <a class="text" href="tel:+380932313673"><div class="title">LIFE</div><div class="value">(093) 231-36-73</div></a>
    <div class="text full"><div class="title">E-MAIL</div><div class="value"><a href="mailto:info@eddycars.com.ua">info@eddycars.com.ua</a></div></div>
    <div class="text full"><div class="title">E-MAIL</div><div class="value"><a href="mailto:eddycars.ua@gmail.com">eddycars.ua@gmail.com</a></div></div>
    <div class="text full"><div class="title">INSTARGAM</div><div class="value"><a href="https://www.instagram.com/eddycars_usa/">eddycars_usa</a></div></div>
    <div class="text full"><div class="title">FACEBOOK</div><div class="value"><a href="https://www.facebook.com/eddycarsukraine">eddycarsukraine</a></div></div>
    <div class="text full"><div class="title">TELEGRAM</div><div class="value"><a href="https://t.me/eddycars_usa/">eddycars_usa</a></div></div>
  </div>


</div>
<div mat-dialog-actions>
  <div class="cont-button">
    <button class="custom custom-4" mat-button mat-primary (click)="onNoClick()" cdkFocusInitial>Закрыть</button>
  </div>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->

</div>
