<div class="screen-title">
  Отзывы о нас
</div>
<div class="screen-sub-title desktop">
  благодарны каждому, кто доверил нам покупку своей мечты!
</div>
<div class="cont-imgs">
  <div class="img-item" [class.active]="activeReview === i" [class.no-after]="activeReview === i" *ngFor="let item of reviews; let i = index" (click)="activeReview = i">
    <img [src]="item.img">
    <div class="text">
      {{ item.text }}
    </div>

  </div>
  <div class="img-item no-after">
    <img src="/assets/img/logo.png" class="logo">
    <a href="https://www.instagram.com/eddycars_usa/">больше информации в нашем инстаграм-канале eddycars_usa</a>
  </div>
</div>
<!-- <div class="cont-text">

</div>

<div class="screen-title">
  До и После
</div>
<div class="screen-sub-title">
  мы всегда отда
</div>


<div class="screen screen-6">
  <div class="screen-title">
    Отзывы
  </div>
  <div class="screen-cont">
    <div class="arrow">
      <img src="/assets/img/arrow-left.png" />
    </div>
    <div class="cont-review" *ngFor="let item of ['review.png','review.png','review.png']">
      <div class="review">
        <div class="cont-img">
          <img [src]="'/assets/img/' + item" />
        </div>
        <div class="text">
          Полностью доволен сотрудничеством с @eddycars_usa начиная от грамотных советов при подборе, заканчивая
          рекомендациями по ремонту/сертификации и постановке на учёт. За время работы не возникло ни одного сомнения.
        </div>

      </div>
    </div>
    <div class="arrow">
      <img src="/assets/img/arrow-right.png" />
    </div>
  </div>
  <div class="screen-title">
    Было / Стало
  </div>
  <div class="screen-cont screen-cont-2">
    <div class="arrow">
      <img src="/assets/img/arrow-left.png" />
    </div>
    <div class="cont-review">
      <div class="review">
        <div class="cont-img">
          <img src="/assets/img/g-1.png" />
        </div>

      </div>


    </div>
    <div class="cont-review">
      <div class="review">
        <div class="cont-img">
          <img src="/assets/img/g-2.png" />
        </div>
      </div>
      </div>


    <div class="arrow">
      <img src="/assets/img/arrow-right.png" />
    </div>
  </div>


</div> -->
