<div class="screen screen-4">
  <div class="screen-title">
    Калькулятор митних платежів
  </div>
  <div class="cont-calc">
    <!-- <div class="cont-tabs">
      <div class="tab active">
        Калькулятор растаможки
      </div>
      <div class="tab">
        Калькулятор доставки
      </div>
    </div> -->
    <div class="cont-inputs">
      <!-- <div class="title">Калькулятор стоимости растаможки</div> -->
      <!-- <div class="sub-tabs">
        <div class="inputs-title active">
          Автомобили
        </div>
        <div class="inputs-title">
          Электромобили
        </div>
      </div> -->
      <div class="body-inputs">
        <div class="cont-left">
          <div class="inputs">
            <div class="input-label">Вартість автомобіля</div>
            <div class="cont-input">
              <div class="cont-input">
                <mat-form-field class="custom" appearance="outline" subscriptSizing="dynamic">
                  <input matInput type="number" name="costn" [(ngModel)]="costn" (ngModelChange)="calcCarsNew()">
                </mat-form-field>
              </div>
            </div>

            <div class="input-label">{{ engineType === 3 ? 'Ємність аккумулятору, кВт.ч' : 'Об`єм двигуна, л' }}</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <ng-container *ngIf="engineType === 3">
                  <input matInput type="number" name="amountn" [(ngModel)]="amountn" (ngModelChange)="calcCarsNew()">
                </ng-container>
                <ng-container *ngIf="engineType !== 3">
                  <mat-select name="amountn" [(ngModel)]="amountn" (ngModelChange)="calcCarsNew()">
                    <mat-option *ngFor="let item of volumes" [value]="item.value">
                      {{ item.text }}
                    </mat-option>
                  </mat-select>
                </ng-container>

              </mat-form-field>
            </div>

            <div class="input-label">Тип двигуна </div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <mat-select name="volume" [(ngModel)]="engineType" (ngModelChange)="calcCarsNew()">
                  <mat-option *ngFor="let item of engineTypes" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="input-label">Рік випуску</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <mat-select name="year" [(ngModel)]="yearn" (ngModelChange)="calcCarsNew()">
                  <mat-option *ngFor="let item of yearsProd" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <!-- <button class="custom" mat-raised-button color="primary">Рассчитать</button> -->
          </div>
          <div class="cont-notice">
            *Для максимально точного розрахунку митних зборів, у графі "вартість автомобіля" необхідно ввести суму, що
            дорівнює вартості авто + вартості аукціонного збору + 1000$ морського фрахту.
          </div>
        </div>
        <div class="cont-right">
          <!-- <div class="row title">Результаты *</div> -->
          <!-- <div class="row sep">
            <div class="title">Цена лота</div>
            <div class="value total">0$</div>
          </div> -->
          <div class="row inlay">
            <div class="title">ПДВ :</div>
            <div class="value">{{ bigSum([nds]) }} $</div>
          </div>
          <div class="row inlay">
            <div class="title">Мито :</div>
            <div class="value">{{ bigSum([customs_duty]) }} $</div>
          </div>
          <div class="row inlay">
            <div class="title">Акцизний збір :</div>
            <div class="value">{{ bigSum([excise]) }} $</div>
          </div>
          <!-- <div class="row inlay">
            <div class="title">Пенсионный фонд :</div>
            <div class="value">? $</div>
          </div> -->
          <div class="row sep total">
            <div class="title total">Усього митних платежів :
            </div>
            <div class="value total">{{ bigSum([nds, customs_duty, excise]) }} $</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
