<div class="screen screen-4">
  <div class="screen-title">
    Калькулятор таможенных платежей
  </div>
  <div class="cont-calc">
    <!-- <div class="cont-tabs">
      <div class="tab active">
        Калькулятор растаможки
      </div>
      <div class="tab">
        Калькулятор доставки
      </div>
    </div> -->
    <div class="cont-inputs">
      <!-- <div class="title">Калькулятор стоимости растаможки</div> -->
      <!-- <div class="sub-tabs">
        <div class="inputs-title active">
          Автомобили
        </div>
        <div class="inputs-title">
          Электромобили
        </div>
      </div> -->
      <div class="body-inputs">
        <div class="cont-left">
          <div class="inputs">
            <div class="input-label">Стоимость автомобиля</div>
            <div class="cont-input">
              <div class="cont-input">
                <mat-form-field class="custom">
                  <input matInput type="number" name="costn" [(ngModel)]="costn" (ngModelChange)="calcCars()">
                </mat-form-field>
              </div>
            </div>

            <div class="input-label">{{ engineType === 3 ? 'Ёмкость аккумулятора, кВт.ч' : 'Объем двигателя, куб.дм' }}
            </div>
            <div class="cont-input">
              <div class="cont-input">
                <mat-form-field class="custom" appearance="fill">
                  <input matInput type="number" name="amountn" [(ngModel)]="amountn" (ngModelChange)="calcCars()">
                </mat-form-field>
              </div>
            </div>

            <div class="input-label">Тип двигателя</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <mat-select name="volume" [(ngModel)]="engineType" (ngModelChange)="calcCars()">
                  <mat-option *ngFor="let item of engineTypes" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="input-label">Год выпуска</div>
            <div class="cont-input">
              <mat-form-field class="custom" appearance="fill">
                <mat-select name="year" [(ngModel)]="yearn" (ngModelChange)="calcCars()">
                  <mat-option *ngFor="let item of yearsProd" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <!-- <button class="custom" mat-raised-button color="primary">Рассчитать</button> -->
          </div>
          <div class="cont-notice">
            *Для максимально точного рассчета таможенных пошлин, в графе «стоимость автомобиля» необходимо ввести
            сумму, равную стоимости авто + стоимости аукционного сбора + 1000$ морского фрахта.
          </div>
        </div>
        <div class="cont-right">
          <!-- <div class="row title">Результаты *</div> -->
          <!-- <div class="row sep">
            <div class="title">Цена лота</div>
            <div class="value total">0$</div>
          </div> -->
          <div class="row inlay">
            <div class="title">НДС :</div>
            <div class="value">{{ getData('НДС') }} $</div>
          </div>
          <div class="row inlay">
            <div class="title">Пошлина :</div>
            <div class="value">{{ getData('Пошлина') }} $</div>
          </div>
          <div class="row inlay">
            <div class="title">Акцизный сбор :</div>
            <div class="value">{{ getData('Акциз') }} $</div>
          </div>
          <!-- <div class="row inlay">
            <div class="title">Пенсионный фонд :</div>
            <div class="value">? $</div>
          </div> -->
          <div class="row sep">
            <div class="title total">Всего таможенных платежей :
            </div>
            <div class="value total">{{ getData('ВСЕГО') }} $</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
