<div class="screen-title desktop">
  Наші послуги
</div>
<div class="screen-title mobile">
  Послуги
</div>
<div class="screen-sub-title desktop">
  інформація щодо всіх етапів стосовно придбання автомобілів зі США
</div>
<div class="bottom">
  <div class="left desktop">
    <div class="cont-menu">
      <a *ngFor="let item of arrMenu; let i = index" [class.active]="showId === i" (click)="showId = i">{{ item }}</a>
    </div>
  </div>

  <div class="cont-articles">
    <div [class.expand]="expand === 0" [class.show]="showId === 0" id="podbor" class="podbor">
      <div class="icon mobile"><img [src]="'/assets/img/' + service[0].img" /></div>
      <div class="title mobile">{{arrMenu[0]}}</div>
      <p>У процесі підбору авто нами фіксуються всі побажання клієнта, визначається коло пошуку за
        марками/моделями/комплектаціями/пробігом бажаного автомобіля. Враховуються будь-які побажання за
        кольором/об'ємом двигуна, окремими опціями в авто.</p>

      <p>Затверджується оптимально прийнятний і вигідний для клієнта бюджет для придбання.</p>

      <p>На щоденній основі фахівцями нашої компанії проводиться моніторинг всіх лотів на аукціонах, які потрапляють у
        визначене клієнтом коло пошуку.</p>

      <p>Рекомендації з нашого боку щодо купівлі автомобілів:</p>

      <ul>
        <li>тільки зрозумілі пошкодження з прогнозованим визначенням вартості відновлювального ремонту</li>
        <li>автомобілі тільки від страхових компаній</li>
        <li>без серйозних пошкоджень силової конструкції кузова</li>
        <li>з прозорою історією</li>
      </ul>

      <p>Кращі варіанти демонструються клієнту. У процесі обговорення, фахівці нашої компанії дають оцінку кожному з
        представлених на вибір автомобілів.</p>

      <p>Всі лоти надходять на торги за системою аукціону, за винятком лотів, які виставлені за фіксованою ціною.
        Кінцева ставка на аукціоні визначається вже в момент живих торгів за кожен конкретний лот.</p>

      <p>На кожен, вподобаний клієнтом автомобіль, узгоджується крайня ставка, виходячи з якої прораховується вся
        видаткова частина.</p>

      <p>Наші фахівці допоможуть вибрати найкращий варіант і визначити вигідну ставку за кожен конкретний лот. По
        кожному з автомобілів клієнт отримує максимально точний розрахунок вартості з урахуванням усіх витрат до
        постановки на облік.</p>

      <p>Пріоритетним для нас є запит кожного конкретного клієнта, його побажання щодо наданих лотів і, безперечно,
        останнє слово завжди залишається за клієнтом.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 1" [class.show]="showId === 1" id="proverka">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[1].img" /></div>
      <div class="title mobile">{{arrMenu[1]}}</div>
      <p>Співробітниками нашої компанії проводиться перевірка всіх лотів. У процесі перевірки кожного лота ми
        визначаємо:</p>

      <ul>
        <li>чи не був автомобіль раніше на торгах</li>
        <li>чи не був раніше в серйозних ДТП</li>
        <li>чи не використовувався в службах таксі</li>
        <li>сервісне обслуговування</li>
        <li>рейтинг продавця</li>
        <li>перевірки за 10+ базами</li>
      </ul>

      <p>Наше завдання виключити всі ризики і за підсумком отримати автомобіля в кращому стані за максимально вигідною
        для клієнта ціною.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 2" [class.show]="showId === 2" id="torgi">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[2].img" /></div>
      <div class="title mobile">{{arrMenu[2]}}</div>
      <p>Після визначення лотів, за які клієнт хоче боротися на торгах, проведення всіх перевірок, отримання виписки з
        бази історії транспортних засобів CarFax, визначення та узгодження з клієнтом крайніх ставок, можна брати участь
        у торгах.</p>
      <p>З огляду на наявні відмінності в інтерфейсі та специфіці проведення торгів на аукціонах Copart, IAAI або
        Manheim, за бажанням клієнта, менеджер обов'язково пояснить/продемонструє/розповість про всі нюанси, що
        стосуються такої участі.</p>
      <p>Клієнт зможе сам, "наживо", на зв'язку з менеджером взяти участь і спостерігати за проведенням торгів у режимі
        онлайн, або довірити цю задачу досвідченому фахівцю.</p>
      <p>Крайня ставка на авто залежить від таких факторів:</p>

      <ul>
        <li>бажання клієнта</li>
        <li>визначений клієнтом бюджет</li>
        <li>стан автомобіля</li>
        <li>рік випуску</li>
        <li>комплектація авто</li>
        <li>пробіг автомобіля</li>
        <li>вартість митних платежів на виході</li>
        <li>локацію, в якій авто перебуває</li>
        <li>порт відправлення</li>
        <li>вартість відновлювального ремонту</li>
        <li>ринкова вартість аналогічного автомобіля в Україні.</li>
      </ul>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 3" [class.show]="showId === 3" id="pokupka">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[3].img" /></div>
      <div class="title mobile">{{arrMenu[3]}}</div>

      <p>Після успішного проведення торгів та отримання підтвердження від продавця, клієнт стає володарем обраного авто.
      </p>
      <p>Оплата здійснюється протягом 2-х банківських днів з дня придбання на аукціоні. Грошовий переказ здійснюється
        Swift платежем на реквізити американського аукціону за виставленим на ім'я клієнта інвойсом.</p>
      <p>Наша компанія співпрацює з низкою перевірених банків, які, за бажання клієнта, зможуть максимально спростити
        процедуру оплати для зручності та економії часу.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 4" [class.show]="showId === 4" id="dostavka">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[4].img" /></div>
      <div class="title mobile">{{arrMenu[4]}}</div>

      <p>Наша компанія займається організацією процесу доставки автомобіля з майданчика аукціону до порту відправки в
        США. За умови своєчасної оплати лота після виграшу, клієнт гарантовано не нестиме додаткових витрат за стоянку
        лота на майданчику аукціону.</p>
      <p>Будь-які витрати по стоянці бере на себе наша компанія.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 5" [class.show]="showId === 5" id="freight">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[5].img" /></div>
      <div class="title mobile">{{arrMenu[5]}}</div>
      <p>У порту відправки в США проводиться завантаження автомобіля в контейнер і завантаження до судна. Далі судно
        відправляється в Україну, а клієнту надається номер контейнера, і він має можливість відстежувати пересування
        судна на сайті морської лінії.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 6" [class.show]="showId === 6" id="odessa">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[6].img" /></div>
      <div class="title mobile">{{arrMenu[6]}}</div>
      <p>Після прибуття в порт Одеса або Південний (порт Клйпеда, Литва або порт Гдиня, Польша – до моменту закінчення
        воєнного стану в України) відбувається розвантаження судна. Після відкриття контейнера проводиться фотозвіт
        автомобіля, який одразу відправляється клієнту.</p>
      <p>Наша компанія здійснює експедирування та митне оформлення авто клієнта в найкоротші терміни.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 7" [class.show]="showId === 7" id="customs">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[7].img" /></div>
      <div class="title mobile">{{arrMenu[7]}}</div>
      <p>Після оплати митних зборів, нашим брокером оформляються всі необхідні документи. Клієнт здійснює оплату митних
        платежів на реквізити митниці за допомогою переказу грошових коштів у гривні по Україні.</p>
      <p>В середньому термін оформлення автомобіля 24 години з моменту оплати митних платежів.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 8" [class.show]="showId === 8" id="address">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[8].img" /></div>
      <div class="title mobile">{{arrMenu[8]}}</div>
      <p>Після того, як автомобіль пройшов митне очищення і готовий до видачі, наша компанія організовує адресну
        доставку автомобіля в будь-яку точку України. Під час видачі автомобіля клієнт отримує автомобіль і всі
        необхідні документи для подальшої сертифікації та постановки на облік.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand ===9" [class.show]="showId === 9" id="remont">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[9].img" /></div>
      <div class="title mobile">{{arrMenu[9]}}</div>
      <p>В рамках існуючої в нашій компанії послуги "під ключ", ми доставимо авто на партнерську станцію технічного
        обслуговування, зробимо дефектування автомобіля, попередньо узгодимо і замовимо необхідні комплектуючі для
        відновлення автомобіля.</p>
      <p>Крім класичного набору рихтувальних і малярних робіт по автомобілю, в рамках послуги "під ключ", ми зможемо
        виконати регламентні роботи з технічного обслуговування автомобіля, зробити хімчистку салону, полірування
        автомобіля, заміну гуми і будь-які інші послуги за бажанням клієнта.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 10" [class.show]="showId === 10" id="cert">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[10].img" /></div>
      <div class="title mobile">{{arrMenu[10]}}</div>
      <p>Перед постановкою автомобіля на облік, необхідно отримати сертифікат відповідності українським стандартам. Наша
        компанія без проблем зробить це замість клієнта в рамках послуги "під ключ".</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>

    <div [class.expand]="expand === 11" [class.show]="showId === 11" id="uchet">
      <div class="icon mobile"> <img [src]="'/assets/img/' + service[11].img" /></div>
      <div class="title mobile">{{arrMenu[11]}}</div>
      <p>Фінальним етапом купівлі авто зі США є реєстрація транспортного засобу в державних органах України.</p>
      <p>В рамках послуги "під ключ" ми зможемо провести реєстрацію самостійно і віддати автомобіль вже на українських
        номерах.</p>
      <div class="footer mobile">Читати повнiстю</div>
    </div>
  </div>
  <div class="bottom">
    <div class="faq">
      <div class="title desktop">
        Поширені запитання
      </div>
      <div class="cont-items">
        <div class="cont">
          <div class="item" *ngFor="let item of sliceArr(0, arrFaq)">
            <div class="icon" (click)="item.show = !item.show">+</div>
            <div class="text">
              <div class="question" (click)="item.show = !item.show">{{ item.question }}</div>
              <div [class.active]="item.show" class="answer">
                <div class="paragraph" *ngFor="let p of item.answer">
                  {{ p }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont">
          <div class="item" *ngFor="let item of sliceArr(1, arrFaq)">
            <div class="icon" (click)="item.show = !item.show">+</div>
            <div class="text">
              <div class="question" (click)="item.show = !item.show">{{ item.question }}</div>
              <div [class.active]="item.show" class="answer">
                <div class="paragraph" *ngFor="let p of item.answer">
                  {{ p }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>