
<h1>Услуги</h1>
<div class="bottom">
  <div class="cont-menu">
    <a [class.active]="fragment === 'podbor' ||   scrollPosition < 1270" routerLink="/services" fragment="podbor">Подбор</a>
    <a [class.active]="fragment === 'proverka' || (scrollPosition >= 1270 && scrollPosition < 1723)" routerLink="/services" fragment="proverka">Проверка</a>
    <a [class.active]="fragment === 'torgi' ||    (scrollPosition >= 1723 && scrollPosition < 2180)" routerLink="/services" fragment="torgi">Торги</a>
    <a [class.active]="fragment === 'pokupka' ||  (scrollPosition >= 2180 && scrollPosition < 2599)" routerLink="/services" fragment="pokupka">Покупка</a>
    <a [class.active]="fragment === 'dostavka' || (scrollPosition >= 2599 && scrollPosition < 2945)" routerLink="/services" fragment="dostavka">Доставка к Порту</a>
    <a [class.active]="fragment === 'freight' ||  (scrollPosition >= 2945 && scrollPosition < 3256)" routerLink="/services" fragment="freight">Морской фрахт</a>
    <a [class.active]="fragment === 'odessa' ||   (scrollPosition >= 3256 && scrollPosition < 3583)" routerLink="/services" fragment="odessa">Прибытие в Украину</a>
    <a [class.active]="fragment === 'customs' ||  (scrollPosition >= 3583 && scrollPosition < 3929)" routerLink="/services" fragment="customs">Таможенное оформление</a>
    <a [class.active]="fragment === 'address' ||  (scrollPosition >= 3929 && scrollPosition < 4240)" routerLink="/services" fragment="address">Доставка из Одессы</a>
    <a [class.active]="fragment === 'remont' ||   (scrollPosition >= 4240 && scrollPosition < 4662)" routerLink="/services" fragment="remont">Ремонт</a>
    <a [class.active]="fragment === 'cert' ||     (scrollPosition >= 4662 && scrollPosition < 4935)" routerLink="/services" fragment="cert">Сертификация</a>
    <a [class.active]="fragment === 'uchet' ||    (scrollPosition >= 4935)" routerLink="/services" fragment="uchet">Регистрация</a>
  </div>
  <div class="cont-articles" (scroll)="keepTrack()">
    <div id="podbor" class="podbor">
      <p>В процессе подбора авто нами фиксируются все пожелания клиента, определяется круг поиска по маркам/моделям/комплектациям/пробегу желаемого автомобиля. Учитываются любые пожелания по цвету/объёму двигателя, отдельным опциям в авто.</p>

      <p>Утверждается оптимально приемлемый и выгодный для клиента бюджет на покупку.</p>

      <p>На ежедневной основе специалистами нашей компании проводится мониторинг всех лотов на аукционах, которые попадают в определенный клиентом круг поиска.</p>

      <p>Рекомендации с нашей стороны по покупке автомобилей:</p>

      <ul>
        <li>только понятные повреждения с прогнозируемым определением стоимости восстановительного ремонта</li>
        <li>автомобили только от страховых компаний</li>
        <li>без серьезных повреждений силовой конструкции кузова</li>
        <li>с прозрачной историей</li>
      </ul>

      <p>Лучшие варианты демонстрируются клиенту. В процессе обсуждения, специалисты нашей компании дают оценку каждому из представленных на выбор автомобилей.</p>

      <p>Все лоты поступают на торги по системе аукциона, за исключением лотов, которые выставлены по фиксированной цене. Конечная ставка на аукционе определяется уже в момент живых торгов за каждый конкретный лот.</p>

      <p>На каждый, понравившийся клиенту автомобиль, согласовывается крайняя ставка, исходя из которой просчитывается вся расходная часть.</p>

      <p>
        Крайняя ставка на авто зависит от следующих факторов:
      </p>

      <ul>
        <li>желание клиента</li>
        <li>определенный клиентом бюджет</li>
        <li>состояние автомобиля</li>
        <li>год выпуска</li>
        <li>комплектация авто</li>
        <li>пробег автомобиля</li>
        <li>стоимость таможенных платежей на выходе</li>
        <li>локацию, в которой авто находится</li>
        <li>порт отправки</li>
        <li>стоимость восстановительного ремонта</li>
        <li>рыночная стоимость аналогичного автомобиля в Украине.</li>
      </ul>

      <p>Наши специалисты помогут выбрать лучший вариант и определить выгодную ставку за каждый конкретный лот. По каждому из автомобилей клиент получает максимально точный расчет стоимости с учетом всех затрат до постановки на учет.</p>

      <p>
        Приоритетным для нас является запрос каждого конкретного клиента, его пожелания по предоставленным лотам и, бесспорно, последнее слово всегда остается за клиентом.

      </p>
    </div>

    <div id="proverka">
      <p>
        Сотрудниками нашей компании производится проверка всех лотов. В процессе проверки каждого лота мы определяем:
      </p>

      <ul>
        <li>не был ли автомобиль ранее на торгах</li>
        <li>не был ли ранее в серьезных ДТП</li>
        <li>не использовался ли в службах такси</li>
        <li>сервисное обслуживание</li>
        <li>рейтинг продавца</li>
        <li>проверки по 10+ базам</li>
      </ul>

      <p>
        Наша задача исключить все риски и по итогу получить автомобиля в лучшем состоянии по максимально выгодной для клиента цене.

      </p>
    </div>

    <div id="torgi">
      <p>
        После определения лотов, за которые клиент хочет бороться на торгах, проведения всех проверок, получения выписки из базы истории транспортных средств CarFax, определения и согласования с клиентом крайних ставок, можно брать участие в торгах.

      </p>
      <p>
        Учитывая имеющиеся различия в интерфейсе и специфике проведения торгов на аукционах Copart, IAAI или Manheim, по желанию клиента, менеджер обязательно объяснит/покажет/расскажет все нюансы, касающиеся такого участия.

      </p>
      <p>
        Клиент сможет сам, в «живую», на связи с менеджером взять участие и наблюдать за проведением торгов в режиме онлайн, или доверить эту задачу опытному специалисту.

      </p>
    </div>

    <div id="pokupka">

      <p>
        После успешного проведения торгов и получения подтверждения от продавца, клиент становится обладателем выбранного авто.

      </p>
      <p>
        Оплата производится в течении 2-х банковских дней со дня покупки на аукционе. Денежный перевод осуществляется Swift платежом на реквизиты американского аукциона по выставленному на имя клиента инвойсу.

      </p>
      <p>
        Наша компания сотрудничает с рядом проверенных банков, которые, при желании клиента, смогут максимально упростить процедуру оплаты для удобства и экономии времени.

      </p>
    </div>

    <div id="dostavka">

      <p>
        Наша компания занимается организацией процесса доставки автомобиля с площадки аукциона до порта отправки в США.
        При условии своевременной оплаты лота после выигрыша, клиент гарантированно не будет нести дополнительных расходов за стоянку лота на площадке аукциона.

      </p>
      <p>
        Любые издержки по стоянке берет на себя наша компания.

      </p>
    </div>

    <div id="freight">
      <p>
        В порту отправки в США производится погрузка автомобиля в контейнер и загрузка судна. Далее судно отправляется в Украину, а клиенту предоставляется номер контейнера, и он имеет возможность отслеживать передвижение судна на сайте морской линии.
      </p>
    </div>

    <div id="odessa">
      <p>
        По прибытию в порт Одесса или Южный происходит разгрузка судна. После открытия контейнера производится фотоотчет автомобиля, который сразу отправляется клиенту.

      </p>
      <p>
        Наша компания осуществляет экспедирование и таможенное оформление авто клиента  в Одессе в кратчайшие сроки.

      </p>
    </div>

    <div id="customs">
      <p>
        После оплаты таможенных пошлин, нашим брокером оформляются все необходимые документы. Клиент производит оплату таможенных платежей на реквизиты таможни посредством перевода денежных средств в гривне по Украине.

      </p>
      <p>
        В среднем срок оформления автомобиля 24 часа с момента оплаты таможенных платежей.

      </p>
    </div>

    <div id="address">
      <p>
        После того, как автомобиль прошел таможенную очистку и готов к выдаче, наша компания организовывает адресную доставку автомобиля в любую точку Украины. При выдаче автомобиля клиент получает автомобиль и все необходимые документы для дальнейшей сертификации и постановки на учет.

      </p>
    </div>

    <div id="remont">
      <p>
        В рамках существующей в нашей компании услуги «под ключ», мы доставим авто из Одессы на партнерскую станцию технического обслуживания, произведем дефектовку автомобиля, предварительно согласуем и закажем необходимые комплектующие для восстановления автомобиля.

      </p>
      <p>
        Кроме классического набора рихтовочных и малярных работ по автомобилю, в рамках услуги «под ключ», мы сможем выполнить регламентные работы по техническому обслуживанию автомобиля, сделать химчистку салона, полировку автомобиля, замену резины и любые другие услуги по желанию клиента.

      </p>
    </div>

    <div id="cert">
      <p>Перед постановкой автомобиля на учет, необходимо получить сертификат соответствия украинским стандартам. Наша компания без проблем сделает это вместо клиента в рамках услуги «под ключ».</p>

    </div>

    <div id="uchet">
      <p>
        Финальным этапом покупки авто из США является регистрация транспортного средства в государственных органах Украины.

      </p>
      <p>
        В рамках услуги «под ключ» мы сможем произвести регистрацию самостоятельно и отдать автомобиль уже на украинских номерах.

      </p>
    </div>
  </div>
</div>



